.hero__image {
    height: 116px;
    width: auto;
    border-radius: 90%;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4em;
    height: 80vh;
}

.hero__image__container{
    align-self: flex-start;
}

@media screen and (min-width: 768px) {
    .hero__image {
        width: 146px;
        height: auto;
    }
    .hero .container{
        height: 40vh;
        gap: 2em;
        flex-direction: row;
        align-items: center;
    }
    .hero__image__container {
        order: 1;
        align-self: center;
    }

}

.hero__title {
    margin: 1em 0;
    font: var(--font-title);
    line-height: 25.83px;
}

.hero__description {
    margin-bottom: 1em;
    font-size: 0.875em;
    line-height: 16.44px;
}

.hero__links {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 0.875em;
}

.hero__link > a {
    display: flex;
    align-items: center;
}
