@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgray;
    padding: 10px;
}

main {
    background-color: white;
    margin: auto;   
    padding: 10px;
    padding-right: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;

}

.entrada {
    flex-grow: 2;
    align-self: flex-start;
    position: relative;
    vertical-align: top;
    margin-right: 20px;
    height: 550px;
    max-width: 840px;
    border-style: solid;
    border-color: black;
}

input {
    margin: 10px 10px 0px;
    height: 20px;
    width: 500px;
    border-style: solid;
    border-color: lightblue;
}

#codificar {
    position: absolute;
    display: inline-block;
    bottom: 40px;
    left: 150px;
    margin-right: 25px;
    
}

#decodificar {
    position: absolute;
    display: inline-block;
    bottom: 40px;
    left: 375px;
    margin-right: 25px;
}

.resultado {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    width: 300px;
    height: 586px;
    background-color: black;

}

#imagem {
    position: absolute;
    padding: 20px;
    
}

#texto {
    position: absolute;
    padding: 15px;
    text-align: justify;
    color: red;
}


footer {
    background-color: black;
    padding: 5px;
    text-align: center;
    color: white;
    margin-top: 10px;
}

