@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

body {
    background-image: linear-gradient(to bottom, #A7BAFD, #b43cffc9);
    padding: 0px;
}

main {
    background-color: #F3F5FC;
    margin: 10px;   
    padding: 10px;
    padding-right: 20px;
    border-radius: 6px;
    box-shadow: 0.078125px 0 32px -8px #6a00cc7a;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;

}

.entrada {
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    align-self: flex-start;
    position: relative;
    margin-right: 20px;
    height: 594px;
    max-width: 840px;
}

#input {
    margin: 10px 10px 0px;
    flex-grow: 1;
    border-style: none;
    background: none;
    font-size: 20px;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    display: flex;
    margin-bottom: 5px;
    gap: 30px;
}

.info {
    font-size: 14px;
    color: #495057;
}

#codificar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 36px;
    background: #A27EFD;
    box-shadow: 1px 1px 7px -3px rgba(0, 0, 0, 0.47);
    border: none;
    border-radius: 10px;
    
    font-family: 'Inter';
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    
}

#decodificar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 36px;
    background: none;
    box-shadow: 1px 1px 7px -3px rgba(0, 0, 0, 0.47);
    border: 1px solid #A27EFD;
    border-radius: 10px;
    
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #495057;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    
}

.resultado {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    position: relative;
    width: 300px;
    height: 600px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0.078125px 11px 32px -8px #00000017;
}

#imagem {
    position: absolute;
    padding: 20px;
}

#texto {
    position: relative;
    padding: 15px 25px;
    color: #495057;
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 5px 20px;
    width: 350px;
    height: 500px;
    border: none;
}

#copiar {
    position: absolute;
    align-self: flex-end;
    margin-bottom: 20px;
    width: 200px;
    height: 36px;
    background: none;
    box-shadow: 1px 1px 7px -3px rgba(0, 0, 0, 0.47);
    border: 1px solid #A27EFD;
    border-radius: 10px;
    

    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #495057;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

}

footer {
    display: flex;
}

footer p {
    margin: 20px;
    font-family: 'Inter';
    text-align: center;
    color: white;
    box-shadow: 1px 1px 7px -3px rgba(0, 0, 0, 0.47);
}

/* ou faz assim ou baixa a awesome font, é o mais legit e responsivo a ser feito*/
footer img{
    width: 16px;
    height: 16px;
}