.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container {
    display: flex;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;

}

.conteudoPrincipal-cursos-link {
    width: 23%;
}

.videoSobre .container {
    display: flex;

}

.videoSobre-sobre {
    display: flex;    
    flex-direction: column;
    text-align: center;
    padding-left: 5px;
    flex-grow: 1;
}

.videoSobre-sobre-list {
    flex-grow: 1;
}

.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rodapePrincipal-contatoForm {
    width: 25vw;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-flow: column wrap;
    height: 250px;
}

@media screen and (max-width: 768px) {
.cabecalhoPrincipal .container {
    flex-direction: column;
    align-items: initial;
    text-align: center;
}

.nav-container {
    flex-direction: column;
}

.cabecalhoPrincipal-nav-link-app {
    order: -1;
}

.conteudoPrincipal-cursos{
    flex-direction: column;
    align-items: center;
}

.conteudoPrincipal-cursos-link {
    width: 94%;
}

.videoSobre .container {
    flex-direction: column;
}

.videoSobre-sobre {
    padding-left: 0;
}

.videoSobre-video {
    margin: 0 auto;
}

.rodapePrincipal-navMap-list {
    height: auto;
}

.rodapePrincipal-patrocinadores .container {
    flex-direction: column;
    align-items: center;
}

.rodapePrincipal-patrocinadores-list {
    width: 100%;
}

.rodapePrincipal-contatoForm {
    width: 100%;
}

.rodapePrincipal-contatoForm-fieldset {
    justify-content: center;
}

}