body {
    background-color: #F3F5FC;
    height: 90vh;
}

.logo {
    margin: 15px 15px;
    width: 3vw;
}

.buttons-container {
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

button {
    border-radius: 1.3em;
    padding: 1.5em;
    width: 26em;
    height: 5em;

}

.novo-jogo {
    color: #FFFFFF;
    border: none;
    background-color: #0A3871;
}

.adicionar-palavra {
    background: none;
    border: solid 1px #0A3871;
    color: #0A3871;
}

@media screen and (max-width: 480px) {
    .logo {
        width: 10vw;
    }
}