.cabecalho {
    align-items: center;
    background: #F9F9F9;
    display: flex;
}

@media screen and (min-width: 0) {
    .cabecalho {
        padding: 0 1rem;
        justify-content: center;
    }
    
    .logo {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho{
        padding: 0 2rem;
        justify-content: space-between;
    }

    .logo {
        display: block;
    }
}


