.form__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.field__container{
    box-shadow: 1px 0px 5px #00000027;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.form__label{
    font: var(--font-light-sm);
    color: var(--black-500);
    width: 100%;
    padding-left: .5rem;
    border-radius: 5px 5px 0px 0px;
}

.form__input{
    width: 100%;
    padding: .5rem;
    font: var(--font-light);
    border-radius: 0px 0px 5px 5px;
}

.form__input:focus{
    outline: none;
}

.form__textarea{
    width: 100%;
    padding:.5rem;
    font: var(--font-light);
    border-radius: 0px 0px 5px 5px;
}

.form__textarea:focus{
    outline: none;
}