.products {
    margin-top: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.products__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
}

.products__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__title{
    font: var(--font-title);
}

.list__item{
    width: calc(52% - 1rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.item__image{
    width: 100%;
}

.item__title{
    font: var(--font-regular-sm);
}

.item__price{
    font: var(--font-bold);
}

.item__link{
    font: var(--font-bold-sm);
    color: var(--main-color);
}
